@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Add a book to @Model.FirstName @Model.LastName</h2>

<h4>Link a book!</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.Label("Add a Book")
  @Html.DropDownList("BookId")
  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Author List", "Index")</p>